@using ObjectUtil.Common
@using ObjectUtil.Dictionary
@using CharmEvents.Database.Database
@model List<TransferData_GameDetails_UsersConfig>

@{
    ViewBag.Title = "列表";
}

@section title
{
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.input.title.js")"></script>
    <script src="@Url.Content("/Content/js/jtip.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.table.js")"></script>
}

@Html.HeadBegin("列表")
@using (Html.BeginForm("TransferDataGameDetailsUsersConfigList", "CharmEvents"))
{
    <text>
        <input type="hidden" name="PageIndex" value="1" />
        <input type="submit" value="搜索" class="bt-samll" />
        <input type="submit" value="导出Excel" name="btnExportExcel" class="bt-samll" />
    </text>
}
@Html.HeadEnd()

<!--- data op --->

<div id="data">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" class="table-data list">
        <!-- 请程序注意 头部的jquery .list 已经变换成为特殊的 .list_cut ----------->
        <tr>
            <th>Id</th>
            <th>RankOrder</th>
            <th>UserId</th>
            <th>AreaId</th>
            <th>AvatarId</th>
            <th>AvatarName</th>
            <th>CreateTime</th>
            <th width="10%">操作</th>
        </tr>
        <!------------->
        @foreach (var item in Model)
        {

            <tr>

                <td>&nbsp; @item.Id</td>
                <td>&nbsp; @item.RankOrder</td>
                <td>&nbsp; @item.UserId</td>
                <td>&nbsp; @item.AreaId</td>
                <td>&nbsp; @item.AvatarId</td>
                <td>&nbsp; @item.AvatarName</td>
                <td>&nbsp; @item.CreateTime</td>
                <td>
                    <input type="button" class="bt-list" value="编辑" onclick="location.href='/CharmEvents/EditTransferDataGameDetailsUsersConfig?Id=@item.Id'" />
                    <input type="button" class="bt-list" value="删除" onclick="if(confirm('确定删除此项?'))location='/CharmEvents/DelTransferDataGameDetailsUsersConfig?Id=@item.Id'" />
                </td>
            </tr>
        }
    </table>

    <!--- page op --->
    <div id="page">
        @Html.Pager()
        <input type="button" class="bt-list" value="全部删除" onclick="if(confirm('确定删除此项?'))location='/CharmEvents/DelTransferDataGameDetailsUsersConfig?Id=-1'" />
    </div>
    <!--- page ed --->

</div>
<!--- data ed --->
@Html.Foot()