<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../favicon.gif" type="image/gif" />
    <link rel="stylesheet" rev="stylesheet" href="@Url.Content("/content/css/index-import.css")" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="/content/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/content/js/jquery.messager.js"></script>
    <script type="text/javascript" src="/content/js/jquery.corners.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".rounded").corners();
        });
    </script>
    @RenderSection("title", false)
</head>

<body>
    @if (ViewBag.ShowTopMenu == null || ViewBag.ShowTopMenu != false)
    {
        <div style="margin-top: 10px;">
            @{
                //普通页面中只显示该页面同级权限菜单
                ViewBag.ShowSameLevel = true;
            }
            @Html.Partial("U_Menu")
            @ViewBag.ShowTopMenu
        </div>
    }
    @RenderBody()
    @Html.JQueryValidationOutput()
</body>
</html>
