@using ObjectUtil.Common
@using ObjectUtil.Dictionary
@using CampEvents.Database.Database
@model List<UserCampLog>

@{
    ViewBag.Title = "列表";
}

@section title
{
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.input.title.js")"></script>
    <script src="@Url.Content("/Content/js/jtip.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.table.js")"></script>
}

@Html.HeadBegin("列表")
@using (Html.BeginForm("UserCampLogList", "CampEvents"))
{
    <text>
        <input type="hidden" name="PageIndex" value="1" />
        UserId
        @Html.TextBox("UserId", null, new { Class = "input" })
        AreaId
        @Html.TextBox("AreaId", null, new { Class = "input" })
        CampId
        @Html.TextBox("CampId", null, new { Class = "input" })
        <input type="submit" value="搜索" class="bt-samll" />
        <input type="submit" value="导出Excel" name="btnExportExcel" class="bt-samll" />
    </text>
}
@Html.HeadEnd()

<!--- data op --->

<div id="data">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" class="table-data list">
        <!-- 请程序注意 头部的jquery .list 已经变换成为特殊的 .list_cut ----------->
        <tr>
            <th>LogId</th>
            <th>UserId</th>
            <th>LoginName</th>
            <th>AreaId</th>
            <th>AvatarId</th>
            <th>AvatarName</th>
            <th>Sex</th>
            <th>CampId</th>
            <th>CreateTime</th>
        </tr>
        <!------------->
        @foreach (var item in Model)
        {

            <tr>

                <td>&nbsp; @item.LogId</td>
                <td>&nbsp; @item.UserId</td>
                <td>&nbsp; @item.LoginName</td>
                <td>&nbsp; @item.AreaId</td>
                <td>&nbsp; @item.AvatarId</td>
                <td>&nbsp; @item.AvatarName</td>
                <td>&nbsp; @item.Sex</td>
                <td>&nbsp; @item.CampId</td>
                <td>&nbsp; @item.CreateTime</td>
            </tr>
        }
    </table>

    <!--- page op --->
    <div id="page">
        @Html.Pager()
    </div>
    <!--- page ed --->

</div>
<!--- data ed --->
@Html.Foot()