@using ObjectUtil.Common
@using ObjectUtil.Dictionary
@using WeaponDesign.Database.Database
@model WeaponList

@{
    ViewBag.Title = "审核";
}

@section title
{
<script type="text/javascript" src="@Url.Content("/Content/js/jquery-ui-1.7.2.custom.min.js")"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            //singer 选中变换class
            $('.form .left, .form input, .form textarea, .form select').focus(function () {
                $(this).parents('tr').addClass("over");
            }).blur(function () {
                $(this).parents('tr').removeClass("over");
            });

            @*$('#StatusID').val(@Model.StatusID);*@

        });
    </script>
}

@{string websitepath = AppSetting.GetString("WebsitePath");
string address = websitepath + @Model.SpicAddress;
string address2 = websitepath + @Model.PicAddress;}

@Html.HeadBegin("审核")
@Html.HeadEnd()


<!--- data op --->
<div id="data">
    @using (Html.BeginForm())
    {
        <table width="100%" border="0" cellspacing="0" class="table-data form">
            <!------------>
            <!--  -->
            <tr>
                <th width="20%">作品编号:</th>
                <td width="80%">
                    @Model.WeaponID
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">作品名称:</th>
                <td width="80%">
                    @Model.WeaponName
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">作品类型:</th>
                <td width="80%">
                    @Model.WeaType
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">作品描述:</th>
                <td width="80%">
                    @Model.WeaponDesc
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">真实赞数:</th>
                <td width="80%">
                    @Model.TruePraise
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">显示赞数:</th>
                <td width="80%">
                    @Model.ShowPraise
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">图片:</th>
                <td width="80%">
                    <div>点击缩略图可放大,再次点击可还原</div>
                    <a href="javascript:void(0)"><img id="spic" src="@address" alt="" onclick="OpenShowPic()" /></a>
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">长:</th>
                <td width="80%">
                    @Model.Length
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">宽:</th>
                <td width="80%">
                    @Model.Width
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">状态:</th>
                <td width="80%">
                    @Html.DropDownList("StatusID")
                    @Html.JQueryValidationMessage(j => j.Bind("StatusID").NotEmpty().Min(1, "审核时不能选择全部"))
                </td>
            </tr>
            <!--  -->
            <tr>
                <th width="20%">审核未通过原因:</th>
                <td width="80%">
                    @Html.TextBoxFor(m => Model.Reason, new { Class = "input", Size = "40" })
                    @Html.JQueryValidationMessage(j => j.Bind("Reason").MaxLength(200,"审核原因不能超过200字符"))
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td height="50" class="clear-form-td">
                    <input type="submit" class="bt-big" name="button2" id="button2" value="提  交" />
                    <input type="button" name="goback" class="bt-big" value="返  回" onclick="javascript:history.go(-1);" />
                </td>
            </tr>
            <!------------>
        </table>

    }

</div>

@*<script type="text/javascript">
    function showOriginal() {
        document.getElementById("imgbox").style.display = "block";
        document.getElementById("spic").style.display = "none";
        //document.getElementById("imgbox").innerHTML = "<img src='" + img.getAttribute("original") + "' />";
    }
    function picclose() {
        document.getElementById("imgbox").style.display = "none";
        document.getElementById("spic").style.display = "block";
    }
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('#showpic').dialog({
            modal: true, 
            autoOpen: false,
            width: "700px",
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $("#showpic").click(function () { $("#showpic").dialog("close"); });
            }


        });
    })

    function OpenShowPic() {
        $("#showpic").dialog("open");
    }
</script>

<div id="showpic" style="display:none">
    <img src="@address2" alt="" style="width:700px" />
</div>

<!--- data ed --->
@Html.Foot()

