@using ObjectUtil.Common
@using ObjectUtil.Dictionary
@using PuzzleEvent.Database.Database
@model List<PuzzlePacket>

@{
    ViewBag.Title = "列表";
}

@section title
{
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.input.title.js")"></script>
    <script src="@Url.Content("/Content/js/jtip.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.table.js")"></script>
}

@Html.HeadBegin("列表")
@using (Html.BeginForm("PuzzlePacketList", "PuzzleEvent"))
{
    <text>
        <input type="hidden" name="PageIndex" value="1" />
        PuzzlePacketTypeID
        @Html.DropDownList("PuzzlePacketTypeID")
        <input type="submit" value="搜索" class="bt-samll" />
        <input type="submit" value="导出Excel" name="btnExportExcel" class="bt-samll" />
    </text>
}
@Html.HeadEnd()

<!--- data op --->

<div id="data">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" class="table-data list">
        <!-- 请程序注意 头部的jquery .list 已经变换成为特殊的 .list_cut ----------->
        <tr>
            <th>PuzzlePacketId</th>
            <th>PuzzlePacketName</th>
            <th>PuzzlePacketDesc</th>
            <th>PuzzlePacketTypeID</th>
            <th>Rate</th>
            <th>RateBegin</th>
            <th>RateEnd</th>
            <th>IsNotice</th>
            <th width="10%">操作</th>
        </tr>
        <!------------->
        @foreach (var item in Model)
        {

            <tr>

                <td>&nbsp; @item.PuzzlePacketId</td>
                <td>&nbsp; @item.PuzzlePacketName</td>
                <td>&nbsp; @item.PuzzlePacketDesc</td>
                <td>&nbsp; @item.PuzzlePacketTypeID</td>
                <td>&nbsp; @item.Rate</td>
                <td>&nbsp; @item.RateBegin</td>
                <td>&nbsp; @item.RateEnd</td>
                <td>&nbsp; @item.IsNotice</td>
                <td>
                    <input type="button" class="bt-list" value="编辑" onclick="location.href='/PuzzleEvent/EditPuzzlePacket?PuzzlePacketId=@item.PuzzlePacketId'" />
                </td>
            </tr>
        }
    </table>

    <!--- page op --->
    <div id="page">
        @Html.Pager()
        @using (Html.BeginForm("SubmitPuzzlePacketRate", "PuzzleEvent"))
        {
            <text>
                @Html.DropDownList("PuzzlePacketTypeID")
                <input type="submit" value="提交概率" name="PuzzleTypeId" class="bt-samll" />&nbsp; 概率增加、编辑或删除后，必须提交后才能生效
            </text>
        }
    </div>
    <!--- page ed --->

</div>
<!--- data ed --->
@Html.Foot("PuzzlePacketTypeID说明:1:武器拼图(极品道具系列);2:装置拼图(极品道具系列);3:挂件拼图(极品道具系列);4:通用道具(所有系列);5:拼图礼包(暴君和超能)")